# Object folder
.vs/
WebApi/.vs/DemoWebApi/v15/.suo
WebApi/.vs/config/applicationhost.config
WebApi/.vs/DemoWebApi/v15/.suo
WebApi/.vs/config/applicationhost.config
WebApi/.vs/config/applicationhost.config
*.config
WebApi/.vs/config/applicationhost.config
WebApi/.vs/DemoWebApi/v15/Server/sqlite3/storage.ide-wal
WebApi/.vs/DemoWebApi/v15/Server/sqlite3/storage.ide-shm
*.config
*.ide-shm
WebApi/.vs/DemoWebApi/v15/Server/sqlite3/storage.ide-wal
